body {
    padding: 0;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(227, 182, 76);
}

.main-header {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 15px;
}

.player-list {
    padding: 30px;
    width: 600px;
    min-height: 600px;
    margin: 0 auto;
    border: 3px solid rgb(80, 179, 225);
    border-radius: 15px;
    background-color: rgb(213, 213, 210);
}

.player-list__item {
    font-size: 24px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border: 3px solid rgb(80, 179, 225);
    margin-bottom: 10px;
    border-radius: 10px;
}

.player-list__button {
    margin-left: 15px;
}

.player-form {
    width: 600px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.player-list__text-field {
    width: 50px;
}
